.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}
/* カスタム CSS */
.options-class {
  --kuc-button-height: 41px; /* ボタンの高さを調整 */
  margin-left: 3rem;
}
